@font-face
{
  font-family: "releway", Arial, Helvetica, sans-serif;
  src: url(raleway);
}

body
{
    max-width: 1440px;
    margin: auto;
    font-family: Raleway;
    font-weight: normal;
    font-size: 15px;
    padding: 35px;
    font-weight: normal;
    box-sizing: border-box;
}

 header
 {
padding-inline-end: 15px;
 }

#teteportable
    {
    display: flex;
    justify-content: space-between;  
    align-items: flex-end; 
    line-height: 45px;
    padding-right: 10px;
    }
 
#logo
{
    width: 150px;
    height: 45px;
    float: left;
    padding-top: 5px;
    display: flex;
    justify-content: left;
    align-items: left;
}

#menu
{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-inline-start: 5px;
}

#insription
{
   height: 45px;
   display: flex;
    justify-content: space-between;
    text-align: flex-end; 
}

.menu1
{
 color: #0065FC;
 height: 25px;
 font-weight: 1em;
 text-decoration: none;
 border-bottom:  1px solid #0065FC;
 width: 50%;
 }

.menu2
{
 color: black;
 height: 25px;
 font-weight: 1em;
  text-decoration: none;
  border-bottom:  1px solid gray;
  width: 50%;
 }

 .menu3
{
 color: #0065FC;
 font-weight: bolder;
 text-decoration: none;
 line-height: 45px;
}

/* rechercher*/
#recher
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;   
    border-radius: 10px 10px 10px 10px;   
}

#icone
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    background-color: gray;
    display: flex;
    justify-content:center;
    align-items: center;
 }

#rechercher
{
    width: 80%;
    height: 48px;
    padding-left: 10px;
    border: 1px solid gray;
    border-right: none;
    display: flex;
    justify-content:left;
    align-items: center;
}
.intrechercher
{border: none;}

::placeholder
{
    font-size: 18px;
    font-weight: extra bolder;
    color: black;
}

#boutton
{
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
    border-radius: 10px 10px 10px 10px;
    width: 50px;
    height: 50px; 
    display: flex;
    justify-content:center;
    align-items: center; 
    text-align: center;  
}

/*filtres */
.filtres
{
display: flex;  
justify-content: space-around;
line-height: 20%;
}

#tab11, #tab12, #tab13, #tab14
{
    margin: 0;
    background-color:#E4EFFF;
    border:1px solid #9FC6FF;
    width: 50px;
    border-radius:50% 50%;
    text-align: center;
}

#economique, #familial, #romantique, #animaux
    {
    margin:0;
    padding-right: 20px;
    background-color: transparent;
    border: 1px solid black;
    width: auto;  
    border-style: solid;
    border-color: black;
    border-radius: 50px 50px 50px 50px;
}

/*info*/
#info
{
    display: block;
}

/* footer*/
footer
{
    height: 500px;
    background-color:grey;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;    
}