/*par defaut mobil first*/
body
{margin: 0;
 font-family: raleway, sans-serif;}

p
{letter-spacing: 0,2px;
font-size: 12px;
font-weight: 600;}

.txt
{font-size: 15px;
font-weight: 800;
}

/* header */
 .menu
 {display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
padding-top: 30px;
height:100px;
font-size: 13px;
font-weight: 500;}

/*Logo*/
nav:nth-child(1)
{grid-column: 1;
 grid-row: 1;
 align-items: center;}

.logo
{height: 30px;
 width: 105px;}

/*Hébergements*/ 
nav:nth-child(2) 
{grid-column: 1;
 grid-row: 2;
 align-items: center;
text-align: center;}

 .menu1
{color: #0065fc;
 font-weight: 700;
 font-size: 12px;
 text-decoration: none;
 padding-bottom: 15px;
 width: 50%;}

#hovermenu1:hover
 {border-bottom: 3px solid #0065FC;
  padding-bottom: 15px;}

 /*Activités*/
 nav:nth-child(3) 
{grid-column: 2 ;
 grid-row: 2 ;
 align-items: center;
 text-align: center;}

.menu2
{ color: black;
 font-weight: 600;
 font-size: 12px;
 text-decoration: none;
 padding-bottom: 15px;
 width: 50%;}

 #hovermenu2:hover
 {border-bottom: 3px solid #f2f2ff;
 padding-bottom: 15px;}

 /*Inscription*/
 nav:nth-child(4) 
{grid-column: 2 ;
 grid-row: 1 ;
 align-items: center;
 text-align: end;}

.menu3
{color: #0065FC;
 font-weight: bolder;
 text-decoration: none;
 padding-top: 40px;}

 /* rechercher*/
section
{padding-left: 20px;}

.txttitre
{padding-right: 90px;
 font-weight: 800;
 font-size: 18px;
 word-spacing:0.2em;
text-align: left;}

#recher
{padding-top: 25px;
 display: flex;
 justify-content: stretch;
 height: 50px;
 width: 334px;
 border-radius: 10px 10px 10px 10px;  
 padding-right: 20px;
padding-bottom: 26px;}

/*icone map*/
#icone
{height: 50px;
 width: 50px;
 border-radius: 15px 0 0 15px;
 background-color: #f2f2f2;
 display: flex;
 justify-content:center;
 align-items: center;}

 #rechercher
{height: 50px;
 width: 233px;
 border: 1px solid #f2f2f2;
 border-right: none;
 display: flex;
 justify-content:center;
 align-items: center;}

.intrechercher
{border: none;}

::placeholder
{font-size: 15px;
 font-family: raleway;
 font-weight: 800;
 color: black;
 padding-left: 10px;}

/*button de recherche*/
#iconrecher
{font-size: 18px;
 font-weight: 0.2em;
 color: white;
 background-color:#0065FC;
 border: none;
 border-radius: 15px 15px 15px 15px;
 width: 50px;
 height: 50px; 
 display: flex;
 justify-content:center;
 align-items: center; 
 text-align: center;}

 #textrecher
 {display: none;
font-family: raleway;
font-weight: 600;
font-size: 11px;}
    
#hbutton :hover
{background-color: violet;
 border: none; }
      
/*filtres */
#filtres
{
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: center;
font-size: 7px;
font-weight: 350;}

.h-icone
{color: #0065FC;
 background-color:#E4EFFF;
 height: 50px;
 width: 50px;
 border-radius: 100%;
 display: flex;
 justify-content:center;
 align-items: center;}

 .h-text
{padding-left: 15px;
 padding-right: 20px;
 font-size: 12px;
font-weight: 800;}

#ecofam
{display: flex;
justify-content: left;}

 #economique
{height: 50px;
 width: fit-content;
 border: 3px solid #f2f2f2;
 border-radius: 45px 45px 45px 45px;
 border-left: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 15px;
 margin-right: 10px;}

#familial
{height: 50px;
 width: fit-content;
 border: 3px solid #f2f2f2;
 border-radius: 35px 35px 35px 35px;
 border-left: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 15px;}

#romantique
{height: 50px;
 width: fit-content;
 border: 3px solid #f2f2f2;
 border-radius: 35px 35px 35px 35px;
 border-left: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 15px;}

#animaux
{height: 50px;
 width: fit-content;
 border: 3px solid #f2f2f2;
 border-radius: 35px 35px 35px 35px;
 border-left: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-right: 10px;
 margin-bottom: 15px;}
    
.h-text
{height: 40px;
 display: flex;
 justify-content:left;
 align-items: center;
 padding-right: 15px;
 padding-left: 15px;}

/*hover survol*/    
.h-icone:hover
{background-color: darkblue}

/*info*/
#info
{display: flex;
 justify-content: start;
 align-items: flex-start;
 padding-top: 15px;
 padding-bottom: 20px;}

#iconeinfo
{color: #0065FC;
 border: solid 0.5px #f2f2f2;
 height: 15px;
 width: 15px;
 text-align: justify;
 font-size: 9px;
 border-radius: 100%;
 display: flex;
 justify-content: center;
 align-items: center;}
    
#textinfo
{display: flex;
 justify-content: start;
 align-items: flex-start;
 margin-top: 0px;
 padding-left: 10px;
 padding-right: 80px;
font-size: 12px;
font-weight: 550;}

/*les plus populaire*/
#pluspop
{width: auto;
 background-color:#f2f2f2;
 padding-left: 20px;
 padding-bottom: 26px;
 margin-block-end: 20px;
 text-align: left;}

#iconechart
{padding-right: 20px;
padding-top: 15px;}

#pop
{display: flex;
 justify-content: space-between;
 font-size: 12px;
 letter-spacing: -1px;
margin-top: 2em;}

.blocimage
{max-width: 127px;
 height: 136px;
 display: flex;
 border-radius: 25px 0 0 25px;
 padding: 5px;}

.blocpop
{width: 335px;
 height: 145px;
 display: flex;
 justify-content:left;
 align-items: flex-start;
 background-color: white;
 text-align: left;
 margin-right: 15px;
 border-radius: 20px 20px 20px 20px;}

.bloctext
{height: 145px;
 width: 205px;
 display:inline-block;
 text-align: left;
 padding-left: 16px;
padding-top: 15px;
padding-right: 20px;}

.etoiles
{display:block;
 text-align: left;
 justify-content: left;}

 .ulpop
 {list-style: none;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  padding-left: 0px;
 margin-top: 3em;
 }
 ul
{list-style: none;
 display: flex;
 justify-content: left;
 align-items: flex-start;
 text-align: left;
 padding-left: 0px;
margin-top: 0.2em;
margin-bottom: 0.2em;}

 /*Hébergement à Marseille*/
 .hebmarseille
 {width: 370px;
border-radius: 15px 15px 15px 15px;
padding-bottom: 5px;
align-items: center;
box-shadow: inset 0 0 1em #f2f2f2, 0 0 0.5em red;}

.cardheb
{width: 365px;
height: 200px;
display: flex;
flex-direction: column;
justify-content:left;
background-color: white;
margin-right: 15px;
border-radius: 20px 20px 20px 20px;}

.bloctextheb
{text-align: left;
padding-left: 20px;
}

.titreheb
{font-size: 15px;
font-weight: 800;
letter-spacing: -0.02em;
}

.prixheb
{font-size: 12px;
font-weight: 400;
margin-top: 0.4em;
margin-bottom: 0.2em;
}

.euro
{font-weight: 700;}

.photoheberg
{width: 360px;
 height: 115px;
 border-radius: 25px 25px 0 0 ;
 padding: 5px;}

 /*Activité*/

 .photoactivite
{width: 370px;
 height: 135px;
 border-radius: 25px 25px 0 0 ;
 }

 #activite1
{width: 370px;
height: 190px;
display: flex;
flex-direction: column;
background-color: white;
margin-right: 15px;
border-radius: 25px 25px 25px 25px;
box-shadow: inset 0 0 1em #f2f2f2, 0 0 0.5em red;
}

.titreactiv
{font-size: 11px;
font-weight: 700;
padding-left: 20px;
margin-top: 20px;
margin-bottom: 20px;}

/* footer*/
footer
{height: auto;
 background-color:#f2f2f2;
 padding-top: 30px;
 padding-left: 30px;
 padding-right: 40px;
font-size: 11px;}

#footer1, #footer2, #footer3
{display: flex;
 flex-direction: column;
 justify-content:left;
 align-items: flex-start;
 text-align: left;
 padding-bottom: 40px;
 line-height:5%;} 

